h1 {
    color: darkblue;
    text-align: center;
}

p {
    margin: 0;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: .5rem;
    align-items: center;
    margin: .5rem;
}

#cards section {
    margin: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cards h2 {
    color: darkblue;
}

#cards img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 15px #777;
    margin: .5rem;
}