/* chamber website */
/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: 'Merriweather', 'Source Sans', sans-serif;
    font-weight: 300;
}

header,
main,
footer {
    margin-top: 1rem;
}

header,
footer {
    background-color: #bab7b7;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
footer p {
    text-align: center;
    padding: .5rem;
}

/* header grid */
header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

h1,
img {
    margin: 0.5rem;
    justify-self: center;
    align-self: center;
}

h1 {
    grid-column: 2 / span 2;
    grid-row: 1 / 3;
}

img {
    width: 72px;
    height: auto;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

/* Hero */
.hero {
    position: relative;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}

.hero article {
    position: absolute;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    top: 33%;
    right: 0;
    left: 0;
    max-width: 72%;
    margin: auto;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: 900;
    line-height: 3rem;
    font-size: 1rem;
    background-color: rgb(34, 87, 122, .7);
}

.hero article button {
    float: right;
    width: 25%;
    height: auto;
    padding: 3%;
    border-radius: 12px;
}

/* Flex Navigation Menu */
nav {
    background-color: #36454f;
}

ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    border: 1px solid #fff;
}

.active {
    background-color: rgba(0, 0, 0, 0.3);
}

/* responsive navigation */
nav div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 7px 6px;
    background-color: #eee;
    color: #000;
    cursor: pointer;
}

.menu::before {
    content: "☰";
}

.menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #393939;
    color: #fff;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

/* index page */
main section {
    margin: 0.5rem;
    background-color: white;
    border: 0.5px solid gray;
    border-radius: 5px;
}

h2 {
    background-color: #bab7b7;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

main section ul,
div {
    padding: 1rem;
}

/* discover page */
.spotlights div {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: .5rem;
}

.spotlights div h2 {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 1rem;
}

.photos {
    display: grid;
    grid-template-rows: 0.1fr 2fr 2fr;
    align-items: center;
}

.photos div {
    margin: 0;
    padding: 0.5rem;
}

.photos figure {
    grid-row: 2/4;
    margin: 0;
}

.photos img {
    width: 100%;
    height: auto;
    margin: 0 1rem 0.25rem 0;
    border-radius: 5px;
}

.photos figcaption,
.visits {
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}

/* join form page */
:root {
    --border: navy;
    --border-2: rgb(171, 168, 168);
    --legend: navy;
    --label: black;
    --background: blue;
    --background2: white;
}

.join-form {
    margin: 1rem;
}

.join-form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--border);
    border-radius: 7px;
    padding: 0.5rem 2%;
}

.join-form legend {
    color: var(--legend);
    padding: 0 .5rem;
}

.join-form label {
    display: block;
    padding-top: 1rem;
    color: var(--label);
    font-size: .9rem;
}

.join-form input[type="text"],
.join-form input[type="email"],
.join-form input[type="tel"] {
    background-color: var(--background2);
    display: block;
    border: solid 1px var(--border-2);
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.join-form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#0dad8ae8, #0a6148);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 500px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.join-form input:required {
    border-right: solid 7px red;
}

.join-form input:required:valid {
    border-right: solid 7px green;
}

.join-form input[type="radio"] {
    margin-right: 6px;
}

.join-form textarea {
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 500px;
    margin: -1rem 2%;
}

#form-timestamp {
    display: none;
}

/* thankyou page */
.record {
    grid-column: 1 / span 2;
}

.record p {
    text-align: center;
    margin: 1rem;
    font-weight: 500;
    font-size: 1.25rem;
}

/* directory page */

.grid-list-buttons {
    grid-column: 1 / 4;
    margin: 1rem auto 0 auto;
    padding: 0.5rem;
    text-align: right;
}

.grid-list-buttons button {
    padding: 1rem;
    font-weight: 500;
}

#cards section {
    margin: .5rem;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid #cards section img {
    width: 250px;
    height: auto;
    box-shadow: 0 0 30px #777;
    margin: 1rem;
}

#cards section h3 {
    color: navy;
    font-size: 1.2rem;
    background-color: #eee;
    border: none;
}

.grid #cards section p {
    font-weight: 500;
    font-size: 1rem;
}

.grid {
    grid-column: 1 / 4;
}

.grid #cards section>* {
    margin: 0.1rem;
}

.list {
    grid-column: 1 / 4;
}

.list #cards {
    display: flex;
    flex-direction: column;
}

.list #cards section>* {
    margin: 0 1rem;
}

.list #cards section img {
    display: none;
}

.list #cards section h3 {
    font-size: 1rem;
    background-color: transparent;
    border: none;
}

.list #cards section p {
    font-weight: 500;
    font-size: 1rem;
    margin: .5rem;
}

.list #cards section:nth-child(odd) {
    background-color: white;
}

/* weather section */
.weather div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.weather img {
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.weather p,
figcaption {
    margin: 1rem;
}

#forecast p {
    margin: .5rem;
}