@media only screen and (min-width: 38rem) {

    /* header grid */
    header {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto;
    }

    .name {
        font-size: 2rem;
        grid-column: 2 / span 2;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: center;
    }

    img {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    /* main grid */
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    main h1 {
        grid-column: 1 / span 2;
    }

    .card {
        box-shadow: 0 0 30px gray;
    }

    /* Flex Navigation Menu */
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    /* responsive navigation */
    /* hide hamburger button */
    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    /* hero */
    .hero {
        grid-column: 1 / span 2;
    }

    .herolabel {
        top: 20px;
        right: 30px;
        padding: 1rem;
    }

    .herolabel p {
        font-weight: 900;
        font-size: 1.75rem;
    }

    /* google-map */
    .google-map {
        grid-column: 1 / span 2;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin-top: .5rem;
    }
}